:root {
  --primary-red-bright: rgb(240, 0, 0);
  --primary-red: rgb(220, 0, 0); }

*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  position: relative;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  background: #0f0f0f;
  color: #f0f0f0;
  margin: 0;
  padding: 0; }

a,
a:visited,
a:active {
  text-decoration: none;
  color: white; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

ul {
  padding: 0;
  margin: 0; }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes scaleLoop {
  0% {
    transform: scale(1.2); }
  50% {
    transform: scale(1.215); }
  100% {
    transform: scale(1.2); } }

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.moveUp--one {
  margin-top: -5vh; }

.moveUp--two {
  margin-top: -10vh; }

.moveUp--three {
  margin-top: -20vh; }
  @media (min-width: 650px) {
    .moveUp--three {
      margin-top: -5vh; } }

.moveUp--four {
  margin-top: -20vh; }
  @media (min-width: 650px) {
    .moveUp--four {
      margin-top: -50vh; } }

.marginTop--one {
  margin-top: 5%; }

.marginTop--two {
  margin-top: 10%; }

.paddingBottom {
  margin-bottom: 20%; }
  @media (min-width: 650px) {
    .paddingBottom {
      margin: 0; } }

@media (min-width: 650px) {
  .allText {
    padding: 5% !important; } }

@media (min-width: 650px) {
  .marketing {
    padding: 5% 0 0 10% !important; } }

.consistency {
  text-align: center;
  padding: 0 !important; }
  @media (min-width: 650px) {
    .consistency {
      padding: 2em !important; } }

.red {
  background: linear-gradient(135deg, red 0%, #960000 100%);
  clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 98%);
  padding: 2em 1em; }
  @media (min-width: 650px) {
    .red {
      clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
      padding: 3em 0; } }
  @media (min-width: 650px) {
    .red {
      padding: 5em 0; } }

.article {
  overflow: hidden;
  position: relative; }
  .article__container {
    display: flex;
    flex-direction: column;
    padding: 2em 1em; }
    @media (min-width: 650px) {
      .article__container {
        padding: 4em 1em;
        flex-direction: row;
        padding: 0; } }
    .article__container div {
      margin-bottom: 1em;
      flex: 1 0; }
    .article__container ul {
      padding: 0 10%; }
    .article__container li {
      text-align: left; }
  .article__textContainer {
    text-align: center;
    order: -1; }
    @media (min-width: 650px) {
      .article__textContainer {
        order: unset;
        padding: 0 1em; } }
    @media (min-width: 900px) {
      .article__textContainer {
        padding: 5% 10%; } }
    @media (min-width: 1000px) {
      .article__textContainer {
        font-size: 1.2rem; } }
    @media (min-width: 1200px) {
      .article__textContainer {
        font-size: 1.4rem; } }
    .article__textContainer p {
      text-align: left;
      padding: 0.2em 0;
      margin: 0.5em; }
  .article__header {
    padding: 10% 10% 0%;
    text-transform: capitalize;
    font-size: 1.8rem;
    text-align: left; }
    @media (min-width: 450px) {
      .article__header {
        padding: 5% 10% 0; } }
    @media (min-width: 650px) {
      .article__header {
        font-size: 2rem;
        padding-top: 0.5em; } }
    @media (min-width: 1000px) {
      .article__header {
        font-size: 2.5rem; } }
    @media (min-width: 1200px) {
      .article__header {
        font-size: 2.8rem; } }
  @media (min-width: 650px) {
    .article .newcastleHeader {
      width: 80%; } }
  .article__image {
    height: auto;
    max-width: 100%; }
    @media (min-width: 1000px) {
      .article__image {
        margin: 2em 0 0; } }
  .article__imageContainer {
    position: relative; }

.starjump {
  padding-bottom: 2em;
  order: 100; }
  @media (min-width: 650px) {
    .starjump {
      transform: scale(1.4); } }
  @media (min-width: 1200px) {
    .starjump {
      margin-left: -20%;
      padding-bottom: 0; } }

.open {
  z-index: -1;
  transform: scale(0.85);
  margin-top: 10; }

@media (min-width: 650px) {
  .crossArmed {
    position: absolute;
    bottom: 0;
    transform: scale(1.5); } }

@media (min-width: 650px) {
  .horn {
    z-index: -1;
    position: absolute;
    bottom: 10%;
    transform: scale(1.5); } }

@media (min-width: 1000px) {
  .horn {
    margin-left: -20%;
    transform: scale(1.2); } }

.button {
  display: inline-block;
  padding: 0.75em 1.5em;
  text-transform: capitalize;
  border-radius: 2em;
  border: 2px solid var(--primary-red);
  color: var(--primary-red);
  background: #0f0f0f;
  font-weight: bolder;
  transition: all 0.25s;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.5); }
  .button:hover {
    color: white;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    background: var(--primary-red-bright);
    transition: all 0.25s;
    transform: scale(1.1); }

@media (min-width: 650px) {
  .landing .button {
    font-size: 1.2rem; } }

@media (min-width: 1000px) {
  .landing .button {
    font-size: 1.5rem; } }

.article .button {
  z-index: 5; }
  .article .button:hover {
    color: var(--primary-red-bright);
    background: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: all 0.25s; }
  .article .button:active {
    background: #0f0f0f; }

.red .button {
  background: #0f0f0f; }

.footer {
  display: flex;
  text-align: center;
  flex-flow: column;
  position: relative;
  text-align: left;
  background: var(--primary-red);
  max-width: 100%;
  padding: 10% 1em 2%;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%); }
  @media (min-width: 650px) {
    .footer {
      margin: -20vh 0 0 0; } }
  @media (min-width: 850px) {
    .footer {
      justify-content: space-evenly;
      flex-flow: row nowrap;
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%); } }
  .footer section {
    flex: 1 0;
    margin: 0.5em; }
  .footer__icon {
    color: white;
    font-size: 2rem;
    margin: 0.1em;
    padding: 0; }
    @media (min-width: 1000px) {
      .footer__icon {
        margin-right: 0.5em; } }
    .footer__icon:hover {
      color: black;
      transform: scale(1.1); }
  .footer__icon--container {
    justify-content: center;
    display: flex;
    flex-flow: nowrap; }
  .footer ul {
    list-style: none; }
  .footer__link:hover {
    color: black; }

.logo {
  max-width: 60%;
  margin: 2%; }
  @media (min-width: 450px) {
    .logo {
      max-width: 50%; } }
  @media (min-width: 850px) {
    .logo {
      max-width: 25%; } }

.navbar {
  z-index: 5;
  position: fixed;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  height: 100vh;
  width: 0;
  background: black;
  transition: all 0.5s;
  overflow: hidden;
  font-size: 4vh;
  text-transform: capitalize;
  white-space: nowrap;
  font-weight: bolder; }
  @media (min-width: 450px) {
    .navbar {
      align-items: unset; } }
  .navbar ul {
    list-style: none; }
    @media (min-width: 450px) {
      .navbar ul {
        padding: 2em; } }
    .navbar ul a {
      display: inline-block;
      padding: 0.25em;
      color: white;
      transition: transform 0.25s; }
      .navbar ul a:hover {
        color: var(--primary-red);
        transform: scale(1.2); }
  .navbar section {
    position: absolute;
    left: 0;
    bottom: 2%;
    display: flex;
    justify-content: space-around;
    width: 100vw; }
    @media (min-width: 600px) {
      .navbar section {
        justify-content: center; } }

.icon {
  color: white;
  font-size: 3rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 1.8em;
  width: 1.8em;
  transition: all 0.25s; }
  .icon:hover {
    color: var(--primary-red); }
    @media (min-width: 650px) {
      .icon:hover {
        transform: scale(1.5); } }

#hamburger {
  position: fixed;
  z-index: 10;
  top: 5%;
  right: 5%;
  font-size: 1.5rem;
  transition: all 0.5s;
  padding: 0.5em;
  text-shadow: 0 0 3px black; }
  #hamburger:hover {
    color: var(--primary-red-bright);
    text-shadow: 0 0 3px white;
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.5s; }
  #hamburger:active {
    color: black; }
  @media (min-width: 450px) {
    #hamburger {
      font-size: 2rem; } }
  @media (min-width: 650px) {
    #hamburger {
      font-size: 3rem; } }

.package {
  background: var(--primary-red);
  flex: 1 0;
  margin: 0.5em;
  border-radius: 0.5em;
  overflow: hidden;
  background: var(--primary-red);
  padding: 1.5em; }
  @media (min-width: 850px) {
    .package {
      margin: 1em; } }
  .package__header {
    padding: 0.5em;
    margin-top: 1em;
    text-align: center;
    font-size: 1.5rem; }
    @media (min-width: 650px) {
      .package__header {
        margin: unset;
        font-size: 2rem; } }
    @media (min-width: 850px) {
      .package__header {
        font-size: 2.5rem; } }
  .package p {
    text-align: center; }

.packagesContainer {
  padding: 1em;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  @media (min-width: 850px) {
    .packagesContainer {
      flex-direction: row;
      padding: 1em; } }

table {
  border-collapse: collapse;
  width: 100%;
  padding: 1em; }
  table tr {
    padding: 0.25em;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between; }
    table tr:not(:last-child) {
      border-bottom: 1px solid white; }
  table td:first-of-type {
    white-space: nowrap; }

.package__enquries {
  text-align: center;
  padding: 0.25em; }
  .package__enquries a {
    color: var(--primary-red) !important; }
    .package__enquries a:hover {
      color: white !important;
      text-decoration: underline; }
    @media (min-width: 450px) {
      .package__enquries a {
        font-size: 1.5rem; } }

.package__disclaimer {
  padding: 0 1em; }
  .package__disclaimer span {
    color: red; }
  @media (min-width: 450px) {
    .package__disclaimer {
      font-size: 1.2rem;
      padding: 0 2em; } }
  @media (min-width: 850px) {
    .package__disclaimer {
      font-size: 1.5rem; } }

.landing {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  padding: 1em;
  height: 80vh; }
  @media (min-width: 450px) {
    .landing {
      min-height: 60vh;
      align-items: center;
      justify-content: unset; } }
  .landing h1 {
    animation: slideInLeft 2s, fadeIn 3s;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 1em 0; }
    @media (min-width: 450px) {
      .landing h1 {
        font-size: 2.5rem;
        padding: 0 1em;
        margin: 0;
        max-width: 75%; } }
    @media (min-width: 850px) {
      .landing h1 {
        max-width: 60%;
        font-size: 3rem;
        padding: 0 1em; } }
    @media (min-width: 1100px) {
      .landing h1 {
        padding: 0 1em;
        max-width: 50%;
        font-size: 3.8rem; } }
    .landing h1 span {
      color: var(--primary-red); }
  .landing .button {
    text-align: center; }

.landing__sub {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 90%);
  height: 100vh;
  background: white; }
  @media (min-width: 650px) {
    .landing__sub {
      clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 90%); } }
  .landing__sub--image {
    border-radius: 5em;
    max-width: 100%;
    max-height: auto; }
    @media (min-width: 650px) {
      .landing__sub--image {
        max-width: 60%; } }
    @media (min-width: 1000px) {
      .landing__sub--image {
        max-width: 50%; } }

.logo__web {
  border-radius: 5em;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.25s; }
  .logo__web:hover {
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.2); }

.copywrite {
  height: 50%;
  max-width: 100%; }
  @media (min-width: 850px) {
    .copywrite {
      height: 75%; } }

.container {
  position: relative; }
  .container img {
    position: absolute; }

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }
  @media (min-width: 450px) {
    .service {
      margin: 5vh 0; } }
  .service__container {
    display: flex;
    flex-flow: column; }
    @media (min-width: 450px) {
      .service__container {
        flex-flow: row wrap;
        width: 85%; } }
  .service__link {
    color: white;
    display: flex;
    align-items: center;
    width: 90vw; }
    @media (min-width: 450px) {
      .service__link {
        width: 40vw;
        flex-flow: column;
        flex: 40%;
        width: unset;
        text-align: center; } }
    .service__link:hover .service__icon {
      transition: all 0.25s;
      transform: scale(1.1); }
    .service__link:hover .service__header {
      color: var(--primary-red); }
    .service__link:nth-of-type(even) .service__icon {
      order: 10; }
      @media (min-width: 450px) {
        .service__link:nth-of-type(even) .service__icon {
          order: 0; } }
  .service__header {
    width: 100%;
    padding: 0.5em; }
    @media (min-width: 450px) {
      .service__header {
        font-size: 1.5rem;
        margin: -1rem 0 0 0; } }
  .service__icon {
    width: 50%;
    transition: all 0.5s; }
    @media (min-width: 450px) {
      .service__icon {
        width: 50%; } }
