.contactForm__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;

  margin-bottom: 30vh;
  //   padding: 1em;
}

#contact {
  position: relative;
  padding: 2em;
  border-radius: 1em;
  @media (min-width: 500px) {
    width: 75%;
  }
  h1 {
    text-align: center;
  }
  button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
